body{
    background-image: linear-gradient(to top,white,rgb(129, 129, 212));
}


header{
    background-color: black;
    height: 100px;
}

.titulo{
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  
    

}

h1{
    background-image: url(logo.gif);
    background-attachment: fixed 10px;
    background-clip: text;
    background-position:10px -120px ;
   
    font-family: fantasy;
    color: transparent;
    margin-top: -0px;

}

.main{
    background-image: url(primeira.jpg);
    display: flex;
    justify-content: center;
    font-size: 40px;
 
}

#um{
    color: white;
    background-color: black;
}

.alinhamento{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}


.display{
    background-attachment: fixed;
    margin-top: 10px;
    display: flex;
    justify-content: center;
   
    width: 800px;
    height: 600px;
    overflow-x:hidden;
    overflow-y: hidden;
    border: 10px solid orange;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    
    
}
img{
    width: 1000px;
    height: 600px;
}

#mandy{

}

#primeira{
    width: 10000px;
    animation: carrossel 20s infinite;
}

#terceira{
    width: 800px;
}
#segunda{
    width: 800px;
}





@keyframes carrossel{
0%{
   margin-left:-3000px;
}
25%{
    margin-left:-00px ;
}
50%{
    margin-left:3000px;
}
}



p{
    font-weight: bolder;
    font-size: 50px;
}
